* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
.titulo {
  margin-left: 50px;
  font-weight: bold;
  color: #ff8000;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-left: 50px;
  font-size: 30px;
}
.button {
  font-family: "Nunito", sans-serif;
  margin-top: 40px;
  height: 70px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff8000;
  color: #ffffff;
  border-radius: 0 35% 35% 35%;
  border: none;
}
