* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
}
.container {
  height: 800px;
}

.titulo {
  display: flex;
  font-weight: bold;
  color: #ff8000;
  font-size: 20px;
  margin-left: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
}

.button {
  font-family: "Nunito", sans-serif;
  margin-top: 40px;
  height: 70px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff8000;
  color: #ffffff;
  border-radius: 0 35% 35% 35%;
  border: none;
}

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imagen1 {
  display: flex;
}
.imagen2 {
  display: flex;
}
.imagen3 {
  display: flex;
}
